# Environments
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# Database
codementor.db
*.sqlite3

# IDEs and OS
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Temp
tmp/
scratch/
